In [1]:
%%capture
import sys
!{sys.executable} -m pip install py2neo;
import py2neo
import pandas as pd

In [2]:
graph = py2neo.Graph('http://neo4j:7474')

def yield_results(cursor):
    halt = False
    while not halt:
        try:
            yield cur.next().data()
        except:
            halt = True

# New York Times Comments
The data contains information about the comments made on the articles published in New York Times in Jan-May 2017 and Jan-April 2018.

See: https://www.kaggle.com/aashita/nyt-comments/home

## Data Summary
### Record Counts

In [3]:
pd.DataFrame(
    [
        graph.run("MATCH (n:ARTICLE) RETURN count(*)").next().data()['count(*)'],
        graph.run("MATCH (n:USER) RETURN count(*)").next().data()['count(*)'],
        graph.run("MATCH ()-[r:COMMENTED]->() RETURN count(*)").next().data()['count(*)']
    ],
    index=['Articles', 'Users', 'Comments'],
    columns=['Counts']
)

           Counts
Articles     9298
Users      301682
Comments  1723935

### What articles have the highest degree (i.e., most comments)?

In [4]:
cur = graph.run("""MATCH (a:ARTICLE)
WITH a, SIZE(()-[:COMMENTED]->(a)) as cmtCnt
ORDER BY cmtCnt DESC LIMIT 5
MATCH p=()-[:COMMENTED]->(a)
RETURN a, count(p)""")

pd.DataFrame([{**res['a'], 'Comments': res['count(p)']} for res in yield_results(cur)]) \
    .sort_values('Comments', ascending=False) \
    .set_index('articleID') \
    .style.format({'webURL': lambda x: f'<a target="_blank" href="{x}"">Link</a>'})

### What users have the highest degree (i.e., most comments)?

In [5]:
cur = graph.run("""MATCH (u:USER)
WITH u, SIZE((u)-[:COMMENTED]->()) as cmtCnt
ORDER BY cmtCnt DESC LIMIT 5
MATCH p=(u)-[:COMMENTED]->()
RETURN u, count(p)""")

pd.DataFrame([{**res['u'], 'Comments': res['count(p)']} for res in yield_results(cur)]) \
    .sort_values('Comments', ascending=False) \
    .set_index('userID')

            Comments    userDisplayName     userLocation
userID
61986282.0      1571  Phyliss Dalmatian  Wichita, Kansas
17374907.0      1235         Blackmamba               Il
47123844.0      1232   Richard Luettgen       New Jersey
47112177.0      1174          manfred m          Bolivia
37475504.0      1157           John Doe        Johnstown

In [6]:
cur = graph.run("""CALL dbms.procedures() YIELD name, signature, description
WHERE name starts with "algo"
RETURN name, signature, description""")
list(yield_results(cur))

[]